<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="true"
        beStrictAboutChangesToGlobalState="true"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnTestsThatTriggerWarnings="true"
>

    <testsuites>
        <testsuite name="Main">
            <file>tests/MacLookupTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>